/* .light {
  --color-primary: #570df8;
  --color-primary-focus: #cb0606;
  --color-primary-content: #ffffff;
  --color-secondary: #f000b8;
  --color-secondary-focus: #bd0091;
  --color-secondary-content: #ffffff;
  --color-accent: #37cdbe;
  --color-accent-focus: #2aa79b;
  --color-accent-content: #ffffff;
  --color-neutral: #3d4451;
  --color-neutral-focus: #2a2e37;
  --color-neutral-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #d1d5db;
  --color-base-content: #1f2937;
  --color-info: #2094f3;
  --color-success: #009485;
  --color-warning: #ff9900;
  --color-error: #ff5724;
}

.dark {
  --color-primary: #570df8;
  --color-primary-focus: #cb0606;
  --color-primary-content: #ffffff;
  --color-secondary: #f000b8;
  --color-secondary-focus: #bd0091;
  --color-secondary-content: #ffffff;
  --color-accent: #37cdbe;
  --color-accent-focus: #2aa79b;
  --color-accent-content: #ffffff;
  --color-neutral: #3d4451;
  --color-neutral-focus: #2a2e37;
  --color-neutral-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #d1d5db;
  --color-base-content: #1f2937;
  --color-info: #2094f3;
  --color-success: #009485;
  --color-warning: #ff9900;
  --color-error: #ff5724;
} */
